*{
	padding:0px;
}

body{
	background-image:url('https://static.tumblr.com/e9ba8e98c37b3dfbeee5a77796677e67/kacjfhz/KYcn7woqb/tumblr_static_tumblr_static_5cooqlktstc0sws84sg0g80s0_640.jpg');
	background-size:cover;
}

